#tag-page > .header {
    font-size: 30px;
    color: green;
}

#tag-page > .edit-form {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
}